# SYD DAT 5 Lab 1 - Git and Markdown

##Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of a chapter of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use, and how you will collect it
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

# Exercise Four - Movie Lens Data

In [2]:
import pandas as pd

In [29]:
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('../labs/Week 1/u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [11]:
# for each occupation in 'users', count the number of occurrences
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [30]:
# for each occupation, calculate the mean age
users.groupby(['occupation']).mean()

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060
entertainment  29.222222
executive      38.718750
healthcare     41.562500
homemaker      32.571429
lawyer         36.750000
librarian      40.000000
marketing      37.615385
none           26.555556
other          34.523810
programmer     33.121212
retired        63.071429
salesman       35.666667
scientist      35.548387
student        22.081633
technician     33.148148
writer         36.311111

In [41]:
# for each occupation, calculate the minimum and maximum ages
users.groupby(['occupation'])['age'].max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

In [40]:
users.groupby(['occupation'])['age'].min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [45]:
# for each combination of occupation and gender, calculate the mean age
users.groupby(['occupation', 'gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [49]:
# randomly sample a DataFrame
users.sample(3)

         age gender occupation zip_code
user_id
787       18      F    student    98620
70        27      M   engineer    60067
195       42      M  scientist    93555

In [58]:
# detect duplicate users
dup = users.duplicated()
users[dup]

         age gender occupation zip_code
user_id
496       21      F    student    55414
572       51      M   educator    20003
621       17      M    student    60402
684       28      M    student    55414
733       44      F      other    60630
805       27      F      other    20009
890       32      M    student    97301

# Analyzing the Analyzers Summary

The article described the problem of people not understanding the role of data scientists, and then goes into some depth examining the types of the data scientists and varying skillsets they possess. Several types of data scientists were described. These include:
* Data businesspeople
* Data creatives
* Data developers
* Data researchers

Each of these types have varying strengths in business, machine learning/big data, maths/operations research, programming, and statistics.

Data scientists have a broad skillset, and the article suggests that the ‘T’ shape of skillsets could be a good goal for a data scientist to work towards. This means having solid foundational skills across the entire range of data science skills, and specialising in one particular skill.

It’s unrealistic to expect one data 'god' to do it all. The article suggests that it is more realistic to construct a team of data scientists with overlapping skills but different specialisations. I also found the suggestion for data scientists to be integrated in different business areas on rotation to be quite interesting, as it illustrates that data science can influence all aspects of business, from marketing to HR and finance.

# Data Science Handbook Chapter 15 Summary

### Joe Blitzstein

The interview with Blitzstein, a professor of the practice of statistics focuses largely on the teaching and communication of data science concepts. I have highlighted some of the parts I have found particularly interesting and insightful from his interview.

Blitzstein talks about the course structure which gives students an introduction to the process of a data scientist. The process involves an iterative process including the following steps:
* Formulate research question
* Gather data
* Clean data
* Exploratory data analysis (looking for problems, outliers, anomalies, possible conjectures
* Modelling (mostly Bayesian)
* Communicating & visualisation the results

Blitzstein likened learning data science to learning a language, emphasising that it requires frequent practice. He also suggested a model of learning where you get a basic understanding, and then continue to learn from application to real problems. He suggests that teaching is also a great way to reinforce what you’ve learnt and make sure you know it well. Blitzstein suggests one way to improve is to do competitions on Kaggle.com. Also, being critical and questioning everything, from your sample, motivations, assumptions, to your method and results.

# Project Ideas:

### 1: Personal finance
__Overview of your idea: __
Summarise and categorise monthly spending & income data and visualise to see what I'm spending the most on, and create a budgeting tool which can recommend me areas where I can save.

__What data you will use, and how you will collect it: __
Personal banking data, downloaded from my CBA account

__What the outcome is that you are trying to achieve: __
Make my personal finance management easier

__Any ideas of modelling techniques it may involve: __
Classification

### 2: Article recommendation engine
__Overview of your idea: __
I want to create a machine learning tool that will surface industry-relevant news that I find interesting.

__What data you will use, and how you will collect it: __
Data scraped from people I follow on my Twitter feed 

__What the outcome is that you are trying to achieve: __
Current my twitter feed has too much going on. Hundreds of updates happening per hour. I want to filter the feed down to just the content that is most interesting, or content around a certain topic.

__Any ideas of modelling techniques it may involve: __
Data scraping, machine learning, similarity matching

### 3: Startup tracker
__Overview of your idea: __
Track the rise and fall of startups around the world based on articles written from selected websites, and sentiment analyses of those articles.

__What data you will use, and how you will collect it: __
Twitter feed of startup-related blogs/news sites. Or alternatively articles scraped from those websites

__What the outcome is that you are trying to achieve: __
Create updated overview of startup company performance

__Any ideas of modelling techniques it may involve: __
Sentiment analysis, natural language processing, web scraping

### 4: Highest growth suburbs in Sydney
__Overview of your idea: __
Map out the areas of Sydney that have had the highest growth, and try to find trends & patterns to help predict the next highest growth suburbs.

__What data you will use, and how you will collect it: __
Real estate data scraped from Domain.com or Realestate.com

__What the outcome is that you are trying to achieve: __
Predict suburbs that will have high growth in the future

__Any ideas of modelling techniques it may involve: __
Regression

### 5: Colour palette analysis of design projects
__Overview of your idea: __
Analyse colour palettes used in recent visual designs to gain insight to current colour trends in design.

__What data you will use, and how you will collect it: __
Scrape images from sites such as Behance and Dribble and run script to analyse and generate dataset on colour schemes of latest and greatest design projects

__What the outcome is that you are trying to achieve: __
Tool that will inform designers about currently trending colours

__Any ideas of modelling techniques it may involve: __
Web scraping