# Time series lab

In this lab we will look at the history of maximum temperatures in Sydney since 1910.

The data was collected by the Bureau of Meteorology at the Sydney observatory and is available from
www.bom.gov.au/climate/change/acorn/sat/data/acorn.sat.maxT.066062.daily.txt

It is also in the SYD_DAT_5/data directory

We will identify the difference between summer and winter, and extract out a signature of
global warming.

In [1]:
# You will need pandas, matplotlib.pyplot and statsmodels.api libraries
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as stats

In [3]:
# Load the acorn sat data.
# It is not comma-separated: so use delim_whitespace=True
# Don't forget to parse the date column
# The first row isn't very interesting, so you can use skiprows to get rid of it
# and instead explicitly pass in a list of names.
# It uses 99999.9 as the value for "N/A", which you will
# want to interpolate (method='time')
sydney = pd.read_csv('../../data/acorn.sat.maxT.066062.daily.txt',
                    delim_whitespace=True,
                    parse_dates=[0],
                    skiprows=1,
                    index_col=0,
                    names=['Date','MaxTemp'],
                    na_values=[99999.9]
                    ).interpolate(method='time')

In [4]:
# Have a look at the data
sydney

            MaxTemp
Date
1910-01-01     24.0
1910-01-02     24.8
1910-01-03     29.6
1910-01-04     30.5
1910-01-05     27.2
1910-01-06     26.9
1910-01-07     26.4
1910-01-08     25.7
1910-01-09     25.3
1910-01-10     26.1
1910-01-11     22.3
1910-01-12     21.4
1910-01-13     21.1
1910-01-14     23.9
1910-01-15     27.8
1910-01-16     32.9
1910-01-17     31.6
1910-01-18     27.8
1910-01-19     28.6
1910-01-20     30.7
1910-01-21     25.7
1910-01-22     24.0
1910-01-23     23.9
1910-01-24     26.1
1910-01-25     29.6
1910-01-26     28.0
1910-01-27     28.0
1910-01-28     20.7
1910-01-29     21.8
1910-01-30     21.2
...             ...
2015-12-02     22.8
2015-12-03     21.7
2015-12-04     23.6
2015-12-05     24.9
2015-12-06     25.8
2015-12-07     25.5
2015-12-08     25.0
2015-12-09     33.3
2015-12-10     25.5
2015-12-11     35.3
2015-12-12     22.6
2015-12-13     24.4
2015-12-14     29.6
2015-12-15     26.9
2015-12-16     23.4
2015-12-17     26.1
2015-12-18     27.5
2015-12-19     29.0
2015-12-20     30.3
2015-12-21     29.1
2015-12-22     21.8
2015-12-23     23.0
2015-12-24     24.6
2015-12-25     25.2
2015-12-26     26.1
2015-12-27     23.0
2015-12-28     22.6
2015-12-29     24.9
2015-12-30     25.6
2015-12-31     26.7

[38716 rows x 1 columns]

In [ ]:
# Plot the ACF (autocorrelation) with statsmodels.api.graphics.tsa.plot_acf
# lags=1000 should be enough

In [ ]:
# Plot the PACF (partial autocorrelation) - this may take some time.

In [ ]:
# Run statsmodels.api.tsa.seasonal_decompose on this. Use an additive model.
# What would a sensible number be for freq= ?

In [ ]:
# Plot the result from the previous cell

In [ ]:
# Plot the last 365 data points in the seasonal
# part of the decomposition. How much hotter is 
# summer compared to winter?

In [ ]:
# Resample the Sydney temperature data: 
# create a new Series which is the mean temperature
# for each year

In [ ]:
# Plot it

In [ ]:
# Plot the ACF for the annual mean -- can you see a weak
# 7-year cycle (El-Nino)?

In [ ]:
# Use statsmodels.tsa.tsatools.detrend, and save the 
# result in a variable

In [ ]:
# Subtract that variable from the annual mean so
# that you can see the underlying trend.

In [ ]:
# Plot the result. How much hotter is Sydney now
# compared to 1910?